.password-change-box{
    width: 35%;
    display: inline-block;
}

.password-change-title{
    text-align: center;
    font-size: 25px;
    padding: 20px;
}

.password-change-text{
    text-align: left;
    font-size: 15px;
    font-weight: bold;
    text-decoration: underline;
}


li{
    padding: 2px;
}

ol{
    padding-left: 0;
    margin-bottom: 20px;
}

.button {
    width: 49%;
    padding: 12px;
    margin: 0.5%;
    background-color: #E1C699;
    color: #333;
    font-weight: bold;
    border-radius: 8px;
    border: none;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 14px;
}

.email-input{
    color: black;
    border: none;
    width: 100%;
    outline: none;
    background-color: transparent;
    font-size: 16px;
    padding: 10px;
    box-sizing: border-box; 
}

#input{
    margin: 20px 0;
}

#email-error{
    color: red;
    text-align: left;
    font-size: 13px;
    font-weight: bold;
    margin-top: 0;
    padding-top: 0;
}